.right{float:right}
.left{float:left}
.tright{text-align:right}
.tleft{text-align:left}
.tcenter{text-align:center}
.no-margin{margin:0 !important}

#header{
font-family: Helvetica, Arial, Sans-Serif;
font-size: 12px;
position: absolute;
padding: 0px;
margin: 0px;
left: 0px;
right: 0px;
top: 0px;
color: #555;
background: #6db712;
background-image: linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -o-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -moz-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -webkit-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -ms-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
box-shadow:0 3px 4px rgba(0,0,0,0.1);
border-bottom:2px solid #5ea514;
z-index: 1600;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
min-width:600px;
}

h1#logo{margin:0;line-height:32px;font-size:32px}
h1#logo > a{margin:0;text-indent:-9999px;
width:66px;height: 32px;overflow: hidden;background:url("../img/logo-t.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;	}
h1#logo{padding:6px 0}
.green{color:#73c81a;font-weight:bold;}

ul.side>li{display:inline-block;}
#nav{text-align:right;}
ul{margin:0;padding:0;list-style:none;}
#nav li:last-child{margin-right:0;padding-right:0}


#nav>ul>li>a{padding:8px 15px;margin:0;color:#fff;font-weight:bold;
text-shadow: rgba(0,0,0,0.1) 0 2px 2px;line-height:32px;display:block}
#nav li.drop-down-container>a{padding:0 15px}
#nav>ul>li>a:hover{text-shadow:0 0 20px rgba(255,255,255,0.9)}
#nav li>a.current{
background:#548c0f;
background-image: linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -o-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -moz-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -webkit-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -ms-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
color:#fff;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
border-left:1px solid #8fcd41;
border-right:1px solid #8fcd41;
}

#header .column.divider{
width:0px;
border-right:1px solid #87e013;
border-left:1px solid #60a20f;
height:20px;
position:relative;
top:14px;
margin: 0 0 0 10px;
}

#header li.divider{
	top:7px;
}


#nav a, #tabs a, a.tag, .list-item h3 a{text-decoration:none}

.menutip-arrow{
	background:url("../img/tip.png");
	width:18px;
	height:8px;
	position:absolute;
	right:14px;
	top:-8px;
}
.menutip{
	position:absolute;
	background:#f6f6f6;
	right:0;
	top:41px;
}

.menutip-content{
background:#f6f6f6;
width:188px;
padding:5px 0;
background-image: linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -o-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
box-shadow:0 2px 3px rgba(0,0,0,0.3);
border-radius:2px;
}

.drop-down-menu{
	display:none;
}
.drop-down-menu li{display:block;overflow:hidden;padding:5px 15px}
.drop-down-menu li a{color:#666}
.drop-down-menu li a:hover{background:white;color:#222}
.prof-large{margin:15px;padding:5px;border:1px solid #ddd;box-shadow:0 2px 2px rgba(0,0,0,0.1)}
.drop-down-menu li.divider{height:1px;border-bottom:1px solid #e5e5e5;padding:0;margin:4px 0}


/*
---------------------------------
	CANVAS SPECIFIC STYLES
---------------------------------
*/

html, body {
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;
min-height: 100%;
background-color: #fff;
overflow: hidden;
}

.drop-list-container{position:relative}
.drop-list{position:absolute}

#appView{
	width:100%;
	height:100%;
	margin:0;padding:0;
	overflow:hidden;
	display:block;
}

#homeView,#canvasView{position:relative}

#benchCanvas{display:block;background-image:url("../img/canvasGrid.png")}

#toolPanel{
	position:absolute;
	left:23px;
	top:117px;
	background:#fff;
	box-shadow:0 2px 1px rgba(0,0,0,0.05);
}

#toolPanel div.toolItem{
	padding:10px;
	border:1px solid #ddd;
	margin-top:-1px;
	position:relative;
}
#toolPanel div.toolItem div{opacity:0.6}
#toolPanel div.toolItem:hover div{opacity:1}

#toolPanel div.toolItem:hover{
background-image: linear-gradient(bottom, #FFF9E6 0%, #FFFFFF 100%);
background-image: -o-linear-gradient(bottom, #FFF9E6 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #FFF9E6 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #FFF9E6 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #FFF9E6 0%, #FFFFFF 100%);
	cursor:default;
	border-color:#ccc;
	z-index:2;
}

#toolPanel div.toolItem:first-child{
}

#header #toolbar .title{
	line-height:18px;
	padding:13px 15px;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	text-shadow:0 2px 2px rgba(0,0,0,0.1);
}

#toolbar .drop-list{
	background:#fff;
	padding:10px;
}

#solutionProgress{
	padding:17px 8px !important; 
}
.progress-container{
	border-radius:12px;
	background:#548c0f;
	background-image: linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
	background-image: -o-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
	background-image: -moz-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
	background-image: -webkit-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
	background-image: -ms-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
	height:10px;
	width:60px;
	border-bottom:1px solid #8fcd41;
	overflow:hidden;
	padding:2px;
}

.progress-container .progress{
	height:10px;
	background-color:#ffa200;
	border-radius:12px;
	background-image: linear-gradient(bottom, #e29a00 20%, #ffc000 72%);
	background-image: -o-linear-gradient(bottom, #e29a00 20%, #ffc000 72%);
	background-image: -moz-linear-gradient(bottom, #e29a00 20%, #ffc000 72%);
	background-image: -webkit-linear-gradient(bottom, #e29a00 20%, #ffc000 72%);
	background-image: -ms-linear-gradient(bottom, #e29a00 20%, #ffc000 72%);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.6), 2px 0 2px rgba(0,0,0,0.1);
}
.progress-container .progress.low{
	background-image: linear-gradient(bottom, #ca0000 20%, #e91b1b 72%);
	background-image: -o-linear-gradient(bottom, #ca0000 20%, #e91b1b 72%);
	background-image: -moz-linear-gradient(bottom, #ca0000 20%, #e91b1b 72%);
	background-image: -webkit-linear-gradient(bottom, #ca0000 20%, #e91b1b 72%);
	background-image: -ms-linear-gradient(bottom, #ca0000 20%, #e91b1b 72%);	
}

#solutionProgress:hover{background:rgba(255,255,255,0.1)}

#solutionProgress .drop-list{
	width: 280px;
	top:51px;
	left:0;
	display:none;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	border-radius: 0 0 2px 2px;
}

#solutionProgress:hover .drop-list{
	display:block;
}


#solutionProgress .drop-list li{
	border-top:1px solid #eee;
	padding:6px 10px;
}

#solutionProgress .drop-list li:first-child{
	border:none;
}

#solutionProgress .drop-list .condition-desc{
	width:240px;
	font-size:13px;
}


#solutionListView h2{
	font-size:18px;
	font-weight:bold;
	padding:15px;
}

#solutionList .solution{
	padding:15px;
}

#solutionList h3{
	font-size:16px;
	font-weight:bold;
	margin:0;
}
#solutionList h3 a{
	text-decoration:none;
}

#solutionList{
	width:100%;
	height:250px;
	overflow:auto;
}

#solutionListView{
color:#777;
text-transform:capitalize;
background:#fff;
position:absolute;
top:50px;
left:300px;
width:400px;
height:350px;
}

#sidePanel{
	position:absolute;
	right:0;
	top:49px;
	width:250px;
	border-left:1px solid #ccc;
	box-shadow:inset 1px 0 1px #eee;
	background:#fff;
	height:100%;
}

.panel-section h2{
	font-size:14px;
	margin:0;
	padding:5px 10px;
	font-weight:bold;
	background:#f2f2f2;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	box-shadow:inset 0 1px 0 white, 0 1px 1px #eee;
	text-shadow:0 1px 0 white;
	position:relative;
	z-index:10;
}

.panel-section-data{
	padding:10px;
}
.panel-section-data h3{
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	text-transform:capitalize;	
}

.panel-section-data p{
	color:#777;
}

.tool-sources{
height: 34px;width:34px;overflow: hidden;background:url("../img/tool_sources.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;
}
.tool-generator{
height: 34px;width:34px;overflow: hidden;background:url("../img/tool_generator.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;
}
.tool-reporter{
height: 34px;width:34px;overflow: hidden;background:url("../img/tool_reporter.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;
}
.tool-measurement{
height: 34px;width:34px;overflow: hidden;background:url("../img/tool_measurement.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;
}
.tool-signalling{
height: 34px;width:34px;overflow: hidden;background:url("../img/tool_signalling.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;
}


.ico-profile{height: 16px;width:17px;overflow: hidden;background:url("../img/ico_profile.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}