/**
 * Primary Styles
 *
 * Author: Jugal Manjeshwar
**/
a:link, a:visited{color:#0048ff;text-decoration:none}
a:hover{color:#06c; text-decoration:underline;}
body{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

.right{float:right}
.left{float:left}
.tright{text-align:right}
.tleft{text-align:left}
.tcenter{text-align:center}

.wrapper{
background:#eee;
border-bottom:1px solid #ccc;	
}

.wrapper-inner{
background:url("../img/fade.png") repeat-x 0 0;	
padding-bottom:20px;
}

#header{
background: #6db712; /* Old browsers */
;
background-image: linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -o-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -moz-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -webkit-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
background-image: -ms-linear-gradient(bottom, #6DB712 0%, #7BCD10 80%);
box-shadow:0 2px 2px rgba(0,0,0,0.1);
position:relative;z-index:10;
border-bottom:1px solid #5ea514}

/*------- TOP-BAR -------*/
h1#logo{margin:0;line-height:32px;font-size:32px}
h1#logo > a{margin:0;text-indent:-9999px;
width:66px;height: 32px;overflow: hidden;background:url("../img/logo-t.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;	}
h1#logo{padding:6px 0}
.green{color:#73c81a;font-weight:bold;}

ul.side>li{display:inline-block;}
#nav{text-align:right;}
ul{margin:0;padding:0;list-style:none;}
#nav li:last-child{margin-right:0;padding-right:0}


#nav>ul>li>a{padding:8px 15px;margin:0;color:#fff;font-weight:bold;
text-shadow: rgba(0,0,0,0.1) 0 2px 2px;line-height:32px;display:block}
#nav li.drop-down-container>a{padding:0 15px}
#nav>ul>li>a:hover{text-shadow:0 0 20px rgba(255,255,255,0.9)}
#nav li>a.current{
background:#548c0f;
background-image: linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -o-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -moz-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -webkit-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
background-image: -ms-linear-gradient(bottom, #6CB512 20%, #548C0F 72%);
color:#fff;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
border-left:1px solid #8fcd41;
border-right:1px solid #8fcd41;
}

#nav>ul>li.divider{
width:0px;
border-right:1px solid #87e013;
border-left:1px solid #60a20f;
height:20px;
position:relative;
top:7px;
margin: 0 0 0 10px;
}

#nav a, #tabs a, a.tag, .list-item h3 a{text-decoration:none}

.profpic{border-radius:2px; box-shadow: 0 1px 2px rgba(0,0,0,0.2);cursor:pointer;position:relative;top:-2px}

#search-challenges{padding:6px 0 20px 0;border-bottom:1px dashed #ddd}
.input{border:1px solid #ccc;box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);background:#fff;padding:3px 8px;border-radius:2px}
.input input[type="text"]{border:none;color:#777}
label{color:#555;text-shadow:0 1px 0 #fff;margin:0 10px}
.input:focus{box-shadow:0 0 5px #5f9d12}

h2{
	color:#555;
	text-shadow:0 1px 0 #fff;
	padding-bottom:1px;
}

h2:after{
	content: "";
	width:100%;
	height:1px;border-top:1px dashed rgba(0,0,0,0.3);border-bottom:1px dashed rgba(255,255,255,0.6)
}
hr.title{height:1px;width:100%;border-top:1px dashed rgba(0,0,0,0.3);border-bottom:1px dashed rgba(255,255,255,0.6)}

.btn{
border:1px solid #bbb;
padding:8px 16px;
font-size:12px;
color:#555;
cursor:pointer;
display:inline-block;
overflow:visible;
background-color:#e6e6e6;
background-repeat:no-repeat;
background-image: linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%);
background-image: -o-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%);
background-image: -moz-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%);
background-image: -webkit-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%);
background-image: -ms-linear-gradient(bottom, #e6e6e6 0%, #f5f5f5 100%);
box-shadow:inset 0 1px 0 #fff, 0 2px 2px rgba(0,0,0,0.05);
border-radius:2px;
-webkit-transition: 0.1s linear all;
-moz-transition: 0.1s linear all;
-ms-transition: 0.1s linear all;
-o-transition: 0.1s linear all;
transition: 0.1s linear all;
margin:0 0 10px;
text-shadow:0 1px 0 #fff;
font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-weight:bold;
}

.btn.primary{
background-color:#18428c;
background-image: linear-gradient(bottom, #18428c 14%, #1f53ae 57%);
background-image: -o-linear-gradient(bottom, #18428c 14%, #1f53ae 57%);
background-image: -moz-linear-gradient(bottom, #18428c 14%, #1f53ae 57%);
background-image: -webkit-linear-gradient(bottom, #18428c 14%, #1f53ae 57%);
background-image: -ms-linear-gradient(bottom, #18428c 14%, #1f53ae 57%);
color:#fff;
text-shadow:none;
box-shadow:inset 0 1px 0 #4883e9, 0 2px 2px rgba(0,0,0,0.05);
border-color:#162E58;
}

.btn:hover,.btn.primary:hover{background-position:0 -15px}

.tag-cloud{padding:20px 0}
.tag-cloud h3{font-size:15px;color:#555;font-weight:bold}


/* 
	Styles for the Challenges Page
*/
.bold{font-weight:bold}
#main-wrapper{
position:relative;z-index:1;}

#viewtabs{border-bottom:1px solid #ccc;}
#viewtabs::after{clear:both}
.challenge-title{width:628px;
background:#f4f5f6;
background-image: linear-gradient(bottom, #E3E3E3 0%, #F4F5F6 60%);
background-image: -o-linear-gradient(bottom, #E3E3E3 0%, #F4F5F6 60%);
background-image: -moz-linear-gradient(bottom, #E3E3E3 0%, #F4F5F6 60%);
background-image: -webkit-linear-gradient(bottom, #E3E3E3 0%, #F4F5F6 60%);
background-image: -ms-linear-gradient(bottom, #E3E3E3 0%, #F4F5F6 60%);
padding:10px 20px 5px;border-bottom:1px solid #ccc}
.challenge-title h1{font-size:18px;text-shadow:0 1px 0 #fff;line-height:30px;margin:0;color:#555;}
.challenge-title .btn{margin:2px}
#viewtabs h2{float:left;margin-bottom:0}
#tabs{float:right;padding-left:10px;}
#tabs li{display:inline-block}
#tabs li{padding: 6px 0;font-size:12px;line-height:20px}
#tabs li a{color:#777;padding:18px 10px 15px;
	border-radius:2px;
-webkit-transition: 0.1s linear all;
-moz-transition: 0.1s linear all;
-ms-transition: 0.1s linear all;
-o-transition: 0.1s linear all;
transition: 0.1s linear all;
text-shadow:0 1px 0 #fff;}
#tabs li a:hover{color:#333}
#tabs li.current{font-size:12px;font-weight:bold;font-size:13px}
#tabs li.current a{
box-shadow:inset 0 2px 2px rgba(0,0,0,0.1);
background-color:#fff;color:#444;border:1px solid #ccc;border-bottom-color:#fff}
#tabs li.current a:hover{text-decoration:none}

#challenge-listings{}
#challenge-sidebar{}

.list-item{position:relative;
padding:20px 20px 20px 0;
border-top:1px solid #ddd;
display:block;
overflow:hidden;
}
.list-item:first-child{border:none;}
.list-item:hover{
background:#f7f8f9;
background-image: linear-gradient(bottom, #F4F5F6 0%, #FFFFFF 60%);
background-image: -o-linear-gradient(bottom, #F4F5F6 0%, #FFFFFF 60%);
background-image: -moz-linear-gradient(bottom, #F4F5F6 0%, #FFFFFF 60%);
background-image: -webkit-linear-gradient(bottom, #F4F5F6 0%, #FFFFFF 60%);
background-image: -ms-linear-gradient(bottom, #F4F5F6 0%, #FFFFFF 60%);
width:648px}
.list-item h3{margin-bottom:-0;padding:0}
.list-item h3 a{font-size:18px;line-height:22px;color:#555;text-transform:capitalize;font-weight:bold}
.list-item h3 a:hover{color:#000}
.challenge-list-rewards{text-align:center;font-size:18px;color:#555;font-weight:bold;}
.challenge-info{
}
.challenge-list-description{
padding:10px 0;color:#666;
}
.challenge-details{margin-top:5px;font-size:12px}


.challenge-title h2{
	text-transform:capitalize;
	margin:0;
	padding-bottom:10px;
	font-size:22px;
	font-weight:bold;
	line-height:18px;
	color:#444;
}

.challenge-thumbnail{margin-right:10px}

.challenge-thumbnail-container{
	width:120px;
	height:120px;
	background:#fff;
	box-shadow:0 2px 2px rgba(0,0,0,0.05);
	border:1px solid #ddd;
}

.challenge-side-icon-container{
padding:0px 6px 10px 18px;	
}

.challenge-detail>*{
	padding: 10px 20px;
	width:628px
}
.challenge-tags{border-bottom:1px dashed #ddd;background:#f6f7f8}
#challenge-content{font-size:14px;padding-bottom:20px}
.challenge-detail h3{font-size:16px;padding:2px 0 6px;font-weight:bold;margin-bottom:2px}
.challenge-description{border-bottom:1px dashed #ccc;margin-bottom:10px}
.challenge-description p{padding-left:20px}
.challenge-detail li{padding: 5px 0 5px 20px;}
.challenge-winconditions li{padding:15px 0 15px 20px ;font-weight:bold;font-size:14px;color:#5f9d11;border-top:1px solid #eee}
.challenge-winconditions li:first-child{border:none}
.challenge-winconditions li.complete{color:#888;font-weight:normal}
.challenge-rewards{padding:10px;border-bottom:1px dashed #ddd;}
.challenge-rewards .count{font-size:28px;font-weight:bold}
.challenge-info{padding:10px;}
.sidebar h4{font-size:12px;color:#999;margin-bottom:5px;}



.bounty{
	font-size:20px;
	line-height:18px;
	text-align:center;
	width:85px;
color:#81c749;
display:inline-block;overflow:hidden;
margin-bottom:8px;
}

.bounty>span{position:relative;top:-2px}

.tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.menutip-arrow{
	background:url("../img/tip.png");
	width:18px;
	height:8px;
	position:absolute;
	right:14px;
	top:-8px;
}
.menutip{
	position:absolute;
	background:#f6f6f6;
	right:0;
	top:41px;
}

.menutip-content{
background:#f6f6f6;
width:188px;
padding:5px 0;
background-image: linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -o-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 92%, #F6F6F6 100%);
box-shadow:0 2px 3px rgba(0,0,0,0.3);
border-radius:2px;
}

.votecount{font-size:16px;
font-weight:bold;
padding:4px 0;width:85px;border:1px solid #ddd;border-bottom:none;
text-align:center;display:inline-block;overflow:visible;color:#555;}

.sponsor-details{float:left;font-size:12px;color:#555}
.sponsors{margin-bottom:10px}
.co-sponsors h5{color:#666}

#footer{font-size:11px;color:#aaa;font-family: "lucida grande",tahoma,verdana,arial,sans-serif;}
#footer .container{padding:20px 0;}
#footer a{color:#555;padding:0 20px;}
#footer a:hover{color:#222}

.drop-down-menu{
	display:none;
}
.drop-down-menu li{display:block;overflow:hidden;padding:5px 15px}
.drop-down-menu li a{color:#666}
.drop-down-menu li a:hover{background:white;color:#222}
.prof-large{margin:15px;padding:5px;border:1px solid #ddd;box-shadow:0 2px 2px rgba(0,0,0,0.1)}
li.divider{height:1px;border-bottom:1px solid #e5e5e5;padding:0;margin:4px 0}

.tags{float:right;text-align:right}

a.tag{
background-color:#FFCE47;
background-repeat:no-repeat;
background-image: linear-gradient(bottom, #FFCE47 0%, #FED870 50%);
background-image: -o-linear-gradient(bottom, #FFCE47 0%, #FED870 50%);
background-image: -moz-linear-gradient(bottom, #FFCE47 0%, #FED870 50%);
background-image: -webkit-linear-gradient(bottom, #FFCE47 0%, #FED870 50%);
background-image: -ms-linear-gradient(bottom, #FFCE47 0%, #FED870 50%);
color:#82572d; 
text-shadow:0 1px 0 rgba(255,255,255,0.6);
padding:2px 6px;border-radius:2px;display:inline-block;cursor:pointer;margin:0 0 3px 0;font-size:12px;
-webkit-transition: 0.05s linear all;
-moz-transition: 0.05s linear all;
-ms-transition: 0.05s linear all;
-o-transition: 0.05s linear all;
transition: 0.05s linear all;
border:1px solid #cc9940;
}
a.tag.active{
background-image:none;
background:#82572d;
color:#fff;
text-shadow:none;
border-color:#82572d;
}
a.tag:first-child{margin-left:0}
a.tag:hover{background-position:0 -15px;}

.arrow-up {
width: 0;
height: 0;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
border-bottom: 3px solid #4a8eff;
position:relative;
top:-8px;
right:-3px
}

.table .key, .table .value{padding:10px 0;color:#555;}
.table .row{border-top:1px solid #eee}
.table .row:first-child{border:none}
.table .key{
	font-weight:bold;
	width:50%;
	padding-left:20px;
}

.content-box{
	background:#fff;
	border:1px solid #ccc;
	border-top:none
}

.tag-item{display:inline-block;margin:0 6px 8px 0}
.tag-count{font-weight:bold;font-size:11px}

button.btn-sponsor{color:#0060ff;font-size:11px;border:none;padding:4px;border-radius:2px;vertical-align:middle;cursor:pointer;border:1px solid transparent;opacity:0.6;margin:7px 0}
button.btn-sponsor:hover{background:#ddd;color:#fff;opacity:0.8}

.bg-logo{
height: 66px;width:32px;overflow: hidden;background:url("../img/logo-t.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;	
}


.ico-bounty{height: 18px;width:18px;overflow: hidden;background:url("../img/bounty_icon.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}
.ico-promote{height: 18px;width:18px;overflow: hidden;background:url("../img/promote_icon.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}
.ico-promote-btn{height: 14px;width:14px;overflow: hidden;background:url("../img/promote_btn_icon.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}

.ico-profile{height: 16px;width:17px;overflow: hidden;background:url("../img/ico_profile.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}

.bg-prof{height: 25px;width:25px;overflow: hidden;background:url("../img/prof.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}
.bg-prof-large{height: 90px;width:90px;overflow: hidden;background:url("../img/prof-large.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}

.ico-search{width:15px; height:15px; overflow: hidden;background:url("../img/search_icon.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;opacity:0.6;cursor:pointer;
border:none;}
.ico-search:hover{opacity:0.9}

.ico-challenge{width:23px; height:30px; overflow: hidden;background:url("../img/challenge_icon.png") -0px 3px no-repeat;display: inline-block;vertical-align: middle;}

.ico-tag{width:12px; height:12px; overflow: hidden;background:url("../img/tag_icon.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}


.ico-tick{width:12px; height:12px; overflow: hidden;background:url("../img/ico-tick.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;opacity:0.5;margin:15px 0 0 0;}
.ico-time{width:12px; height:12px; overflow: hidden;background:url("../img/ico-clock.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;opacity:0.5;margin:4px 6px 0 0;}

.ico-uparr{height: 14px;width:20px;overflow: hidden;background:url("../img/up-arr.png") -0px -0px no-repeat;display: inline-block;vertical-align: middle;}

/* ------------------------------- */

.created{color:#777;font-size:11px;font-weight:normal;}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

@-moz-document url-prefix(http://) {
    button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
        padding: 0 !important;
        border: 0 none !important;
    }
}


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

