{% extends 'base_challenge.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block listings %}
    {% if top25_challenge_list %}
        {% for c in top25_challenge_list %}
            {% block challenge_title %} <a href="/challenge/{{ c.id }}/">{{ c.name }}</a><br> {% endblock %}
                {{ c.descrip|truncatewords:50 }}
                {%  if c.bounty_avail %}
                    ${{c.bounty}}
                {% else %}
                    ${{ c.bounty }} bounty claimed by userid.
                {% endif %}<br>
                Votes: {{ c.votes }}<br>
                Tags: {{ c.tags }}<br>
        {% endfor %}
    {%  else %}
        No challenges available
    {% endif %}
{% endblock listings%}

{% block sidebar %}
    {% include 'inc/tag_cloud.html' %}
{% endblock sidebar %}

