{% extends 'base_challenge.html' %}

{% block title %} {{ challenge.name }} {% endblock title %}

{% block listings %}
    {{ challenge.name }}
    Tags: {{ challenge.tags }}
    Description: {{ challenge.descrip }}

    <form action='/challenge/{{ challenge.id }}/submit/' method="post">
    {% csrf_token %}
    <h4> Winning conditions</h4>
    {% for condition in challenge.criteria_set.all %}
        <input type="radio" name="criteria" id="criteria{{ forloop.counter0 }}" value="{{ condition.id }}" />
        <label for="criteria{{ forloop.counter0 }}">{{ condition.desc }}, {{ condition.status}} </label><br />
    {% endfor %}
    <input type="submit" value="Solve" />
    </form>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock listings %}

{% block sidebar %}
Sponsored by: Tyger Library
First created: {{ challenge.create_date }}
<h4> Available rewards</h4>
{% if challenge.bounty_avail %} Bounty: {{ challenge.bounty }}
{% else %} Bounty claimed.
{% endif %}
<br>
Votes: {{ challenge.points }}
{%  endblock sidebar %}

