{% extends 'base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}


{% block content %}
        <div id="challenges" class="clearfix">
        <div id="challenge-listings">
            <div id="viewtabs" class="clearfix">
                {% block sub-header %}<h2>Most active users</h2> {% endblock %}
                <ul id="tabs">
                </ul>
            </div>
            <div id="listings">
                {% block listings %}
                {% endblock listings%}
            </div>
        </div>

        <div id="challenge-sidebar">
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>
{% endblock content %}