{% extends 'challenge_base.html' %}

{% block title %} About Tyger {% endblock %}

    {% block content %}

   <h2>About Tyger</h2>
   <div>
        <p>We believe synthetic biology will transform the 21st century and we wanted to start hacking. But we didn't have easy access to a PCR machine and all the other fancy (read: expensive) lab technology to get our hands dirty. So we built a platform to make it easy for hackers to design new life without being in a lab. That's the Bench. </p>
        <p>Then we wanted some big ideas to work on. We want to save a billion lives, send humanity to the stars, and all sorts of other projects that sound like science fiction but are very close to our grasp. But the biggest ideas are spread all across the community and not always obvious. So we created the Challenge system to help the best ideas bubble to the top and connect users to cool projects that can change the world.  </p>
   </div>

   <h3> What's with the name? Can't you spell tiger? </h3>
   <div>
       <p>Our name comes from William Blake's poem <a href="http://www.eecs.harvard.edu/~keith/poems/tyger.html">The Tyger</a>.
           Blake uses the fearful Tyger to represent the world's evils and questions a creator that would allow such evils to stalk the world.</p>
       <p>Modern evils are no less fearful. Millions die from hunger or preventable disease. Global extinction events are real possibilities. We believe synthetic biology offers answers to these problems. </p>
       <p>We are looking for hands that "dare seize the fire", as the Titan Prometheus did when he stole fire from the gods to help humanity. Will you dare the same to help the world?  Tyger wants to help coordinate those who want to use synthetic biology to change the world for the better. If you're interested, get involved!</p>
   </div>

        <h3> Work for Tyger </h3>

   <div>
        <ul>We're looking for smart people who want to change the world:
            <li>Technical experts: We use HTML5, javascript, python, django, backbone.js and a variety of other standard web tools. Great candidates will be intimately familiar with one or more of these technologies. We can teach you the synthetic biology.
            <li>Bio-hackers: We need synthetic biologists who have experience designing new life. You'll help design our software and work challenge sponsors to ensure that the challenges they sponsor are successful.
            <li>Hustlers: We need very exceptional business people to spread our message to our customers and users.
        </ul>
    </div>

{% endblock content %}
