{% extends 'base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block topnav %}
    <div class="container">
        <div id="title" class="span-8 append-1">
            <h1 id="logo"><a href ="/challenge"> <img src="{{ STATIC_URL }}img/logo-t.png" alt="Tyger Logo"/></a></h1>

        </div>
        <div id="nav" class="span-15 last">
            <ul class="side">
                <li><a class="current" href="/challenge">Challenges</a></li>
                <li><a href="/canvas">Canvas</a></li>
                <li><a href="/tutorial/">Tutorial</a></li>
                <li><div class="profpic"><span class="bg-prof"></span></div></li>
            </ul>
        </div>
    </div>
{%  endblock topnav %}

{% block content %}
    <div id="main-wrapper" class="container">
        <div id="challenge-listings" class="span-17 append-1">
            <div id="viewtabs" class="clearfix">
                <h2>Challenges</h2>
                <ul id="tabs">
                    <li class="current"><a href="#">Most Recent</a></li>
                    <li><a href="#">Top Bounty</a></li>
                    <li><a href="#">Top Points</a></li>
                    <li><a href="#">Oldest Unsolved</a></li>
                    <li><a href="#">Library</a></li>
                </ul>
            </div>
            <div id="listings">
                {% block listings %}
                {% endblock listings%}
            </div>
        </div>

        <div id="challenge-sidebar" class="span-6 last">
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>
{% endblock content %}

