{% extends 'base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block header %}
    <div class="container">
        <div class="span-8 append-1">
            <div id="title">
                <h1 id="logo"><a href ="/challenge">Tyger</a></h1>
            </div>
        </div>
        <div class="span-15 last">
            <div id="nav">
                <ul class="side">
                    <li><a class="current" href="/challenge/">Challenges</a></li>
                    <li><a href="/bench/">Bench</a></li>
                    <li><a href="/tutorial/">Tutorial</a></li>
                    {% include "profiles/user_insert.html" %}
                </ul>
            </div>
        </div>
    </div>
{%  endblock header %}

{% block content %}
    <div class="container">
        <div id="main-wrapper" class="span-17"> 
            <div class="content-box clearfix">
                <div class="challenge-title" class="span-17 last"> 
                    <span class="column last" style="border-bottom:1px solid #ddd;width:619px;box-shadow:white 0 1px 0;">
                        <span class="column">
                            {% block sub-header %}<h1>Challenges</h1> {% endblock sub-header %}
                        </span>
                        <span class="column last" style="float:right">
                            {% block sort-header %}
                            {% endblock sort-header %}
                        </span>
                    </span>
                </div>

                <div id="challenge-listings" class="span-17 last">
                    <div id="listings">
                        {% block listings %}
                        {% endblock listings%}
                    </div>
                </div>
            </div>
        </div>

        <div id="sidebar-wrapper" class="span-6 last" style="float:right"> 
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>

{% endblock content %}
