{% extends 'base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block topnav %}
    <div id="title">
        <h1 id="logo"><a href ="/challenge"> <img src="{{ STATIC_URL }}img/logo.jpg" alt="Tyger Logo"/></a></h1>
        <h2 id="tagline">Design New <span class="green">Life</span>. Improve The <span class="green">World</span>. Make <span class="green">Money</span>.</h2>
        <div class="clear"></div>
    </div>
    <nav>
        <ul class="side">
            <li><a class="current" href="/challenge">Challenges</a></li>
            <li><a href="/canvas">Canvas</a></li>
            <li><a href="/tutorial/">Tutorial</a></li>
            <li><a href="/profile/">Profile</a></li>
        </ul>
    </nav>
{%  endblock topnav %}

{% block content %}
    <div class="clearfix">
        <div id="challenge-listings">
            <div id="viewtabs" class="clearfix">
                <h2>Challenges</h2>
                <ul id="tabs">
                    <li class="current"><a href="#">Most Recent</a></li>
                    <li><a href="#">Top Bounty</a></li>
                    <li><a href="#">Top Points</a></li>
                    <li><a href="#">Oldest Unsolved</a></li>
                    <li><a href="#">Library</a></li>
                </ul>
            </div>
            <div id="listings">
                {% block listings %}
                {% endblock listings%}
            </div>
        </div>

        <div id="challenge-sidebar">
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>
{% endblock content %}

