{% extends 'challenge_base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block content_header %}
<h2><a href="">Tags</a> <span class="sep">/</span> {{tag}}</h3>
<!--<span>{{ tagged_challenges.count }}</span>-->
{% endblock content_header %}

{% load tags %}
{% block challenge_content %}
<div class="challenge-listing">
    <ul class="grid-listing">
        {% load date_diff %}
        {% if tagged_challenges %}
            {% for c in tagged_challenges %}
                {% if forloop.counter0|divisibleby:3 %}
                    {%if forloop.counter0 > 0 %}
                        </div>
                    {% endif %}
                    <div class="grid-row clearfix">
                {% endif %}
                <li class="challenge-item">
                    <div class="challenge-item-title">
                        <h3><a href="/challenge/{{ c.slug }}/">{{ c.name }}</a></h3>
                    </div>
                    <div class="challenge-item-graphic">
                        <img src="/static/img/challange_default_graphic.png" alt="Challenge Graphic"/>    
                    </div>
                    <div class="challenge-item-desc">
                        <p>{{ c.descrip|truncchars:100 }}</p>
                    </div>
                    <div class="challenge-item-info">
                        <div class="challenge-item-sponsor">
                            <div class="clearfix">
                                <div class="column right last">
                                    <a href="/profile/{{ c.sponsor }}/">{{ c.sponsor }}</a>
                                </div>
                                <div class="column right">
                                    <img src="/static/img/prof_18.png" alt=":)">
                                </div>
                                <div class="column right">
                                    by
                                </div>
                            </div>
                        </div>
                        <div class="challenge-item-metrics">
                            <div class="column">
                                <div class="column challenge-item-bounty">
                                    <div class="bounty">${{c.bounty}}</div>
                                    <div class="label">Bounty</div>
                                </div>
                                <div class="column last challenge-item-votes">
                                    <div>{{c.votes}}</div>
                                    <div class="label">Votes</div>
                                </div>
                            </div>
                            <div class="column right last">
                                <div class="challenge-item-created">
                                    <div class="label">Created</div>
                                    <div>{{ c.create_date|date_diff }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {%  else %}
            <span class="clearfix" style="width:100%;text-align:center;color:#888;padding:30px 0">
                No matching challenges found.
            </span>
        {% endif %}
             
    </ul>
</div>
{% endblock challenge_content%}

{% block sidebar %}
    {% include 'tag_cloud.html' %}
{% endblock sidebar %}