{% extends 'challenge/templates/base_challenge.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block listings %}
    <ul id="recent-listings">
        {% load date_diff %}
        {% if top25_challenge_list %}
            {% for c in top25_challenge_list %}
                <li class="list-item">

                    <div class="span-17 last"> 
                        <div class="span-3"> 
                            <div class="challenge-rewards"> 
                                <div class="span-3 last">
                                    {%  if c.bounty_avail %}
                                        <div class="bounty">${{c.bounty}}</div>
                                    {% else %}
                                        ${{ c.bounty }} bounty claimed by userid.
                                    {% endif %}
                                </div>
                                <div class="span-3 last">
                                    <div class="votes" style="position:relative;left:50%;margin:0 auto">
                                        <div style="position:relative;right:50%">
                                            <div class="column"> 
                                                <span class="ico-tick"></span>
                                            </div>
                                            <div class="column">
                                                <div class="votecount">
                                                    {{ c.votes }}
                                                </div>
                                            </div>
                                            <div class="column last">
                                                <button class="btn-sponsor"><span class="ico-uparr"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span-3 last">
                                    <div class="created"> 
                                        <div class="column" style="margin:0">
                                            <span class="ico-time"></span>
                                        </div>
                                        <div class="column last" style="text-align:left">
                                            created<br/><strong>{{ c.create_date|date_diff }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span-14 last" style="width:546px"> 
                            <div style="background:#fff;box-shadow:0 1px 3px rgba(0,0,0,0.08);border-radius:3px;border:1px solid #e4e4e4;">
                                <div class="challenge-info">
                                    {% block challenge_title %} 
                                        <h3 style="padding:20px 25px;"><a href="/challenge/{{ c.slug }}/">{{ c.name }}</a></h3>
                                    {% endblock %}
                                    <div class="description" style="padding:10px 25px;color:#666;border-bottom:1px dashed #ddd;border-top:1px dashed #ddd;background:#f1f1f1;text-shadow:white 0 1px 0;">
                                        {{ c.descrip|truncatewords:50 }}
                                    </div>
                                    <div class="challenge-details clearfix" style="padding:10px 25px;">
                                        <div class="sponsor-details">
                                            <div class="sponsors">
                                                <h4>Sponsored By</h4>
                                            </div>
                                            <div class="co-sponsors">
                                                <h5 style="font-weight:normal">Co-Sponsored By</h5>
                                            </div>
                                            
                                        </div>
                                        <!--
                                        <div class="tags">
                                            {% for t in c.get_tags %}
                                                <a class="tag">{{t}}</a>
                                            {% endfor %}
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {%  else %}
            No challenges available
        {% endif %}
    </ul>
{% endblock listings%}

{% block sidebar %}
    <div id="search-challenges"> 
        <form method="post" action=""> 
            <div class="input">
                <input type="text" placeholder="Find a Challenge" style="width:196px"/>
                <span class="ico-search"></span>
            </div>
        </form>
    </div>
    {% include 'inc/tag_cloud.html' %}
{% endblock sidebar %}

