{% extends 'challenge_base.html' %}

{% block title %} Solutions for {{ challenge.name|capfirst}} {% endblock title %}

{% block sub_header %}
<div id="sub-header">
    <div class="container">
        <span class="column">
            <span class="ico-challenge"></span>
        </span>
        <span class="column last">
            <h1>Solutions for {{ challenge.name|capfirst}}</h1>
            <div class="column clearfix">
                <ul class="tabs">
                    <li><a href=".">Description</a></li>
                    <li><a href="hints">Helpful Hints</a></li>
                    <li><a href="talk">Discussion</a></li>
                    <li class="current"><a href="">Solutions</a></li>
                </ul>
            </div>
        </span>
        <span id="challenges-metrics" class="column right last">
            <span class="column last right tright">
                <button class="btn primary no-margin">Submit Solution</button>
                <button class="btn no-margin">Watch</button>
            </span>
        </span>
    </div>
</div>
{% endblock sub_header %}

{% block challenge_content %}
    <div class="challenge-detail">
        <div class="row clearfix" style="border-bottom:1px dashed #ddd;margin-bottom:10px">
            <div class="challenge-bountywinner">
                <h3> Bounty winner </h3>

    <h3> Other finishers </h3>
{% endblock challenge_content %}

{% block sidebar %}
    {% load date_diff %}
    <div class="challenge-rewards">
        <div class="challenge-bounty">
            {% if challenge.bounty_avail %}
                <div class="bounty thick">
                    ${{ challenge.bounty }}
                </div>
                <div class="label">Bounty</div>
            {% else %} 
                <h4>Bounty Claimed</h4>
            {% endif %}
        </div>
        <div class="challenge-votes">
                <div class="column">
                    <div class="thick">{{ challenge.votes }}</div>
                    <div class="label">Votes</div>
                </div>
                <div class="column last">
                    <button class="btn" style="margin:0;padding:8px"><span class="ico-promote-btn"></span> &nbsp;Promote</button>
                </div>
        </div>
        <div class="challenge-tags">
            <span class="ico-tag"></span>
            {% for t in challenge.get_tags %}
                <a class="tag">{{t}}</a>
            {% endfor %}
        </div>
        <div class="challenge-info">
            <div class="column" style="margin-bottom:10px">
                <div class="clearfix">

                    <div class="label">Sponsored By</div>
                        <div>{{ challenge.sponsor.user.username }}</div>
                    </div>
                    <div class="column last">
                        <div class="label">Created</div>
                            <div>{{ challenge.create_date|date_diff }}</div>
                        </div>
                    </div>
        </div>
    </div>
{%  endblock sidebar %}

