{% extends 'challenge_base.html' %}

{% block title %} {{ challenge.name|capfirst}} | Tyger {% endblock title %}


{% block sub_header %}
    <div class="clearfix">
        <span class="column" style=""> 
            <h1 style="font-size:20px;line-height:40px">{{ challenge.name|capfirst}}</h1>
        </span>    
    </div>

    <div class="column clearfix">
        <ul class="tabs">
            <li class="current"><a href="#">Summary</a></li>
            <li><a href="#">References</a></li>
            <li><a href="#">Discussion</a></li>
            <li><a href="#">Solutions</a></li>
        </ul>
    </div>
    <div class="column last right clearfix">
        <span class="column last right tright">
            <button class="btn primary no-margin">Submit Solution</button>
            <button class="btn no-margin">Watch</button>
        </span>
    </div>
{% endblock sub_header %}

{% block content_span %}18{% endblock content_span %}
{% block sidebar_span %}6{% endblock sidebar_span %}
{% block challenge_content %}
    <div class="challenge-detail">
        <div class="challenge-tags tright">
            <span class="ico-tag"></span>
            <span style="margin-left:10px">
                {% for t in challenge.get_tags %}
                    <a class="tag">{{t}}</a>
                {% endfor %}
            </span>
        </div>

        <div class="challenge-description">
            <h3>Description </h3>
            <p>{{ challenge.descrip }} </p>
        </div>

        <div class="row clearfix" style="border-bottom:1px dashed #ddd;margin-bottom:10px">
            <div class="challenge-winconditions">
                <h3> Winning conditions </h3>
                <ul>
                    {% for condition in challenge.criteria_set.all %}
                        <li class="{% if condition.status == "True" %} complete {% endif %}">{{ condition.desc }}</li>
                    {% endfor %}
                </ul>      
            </div>
        </div>
        <div class="row clearfix" style="border-bottom:1px dashed #ddd;margin-bottom:10px">
            <div class="challenge-environment">
                <h3>Environment </h3>
                    <div class="table">
                        <div class="row clearfix">
                            <div class="column key">Chassis</div>
                            <div class="column value last">{{ challenge.chassis }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="column key">Environment</div>
                            <div class="column value last">{{ challenge.environment.name }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="column key">Temperature</div>
                            <div class="column value last">{{ challenge.environment.temp }}</div>
                        </div>
                        <div class="row clearfix">
                            <div class="column key">pH</div>
                            <div class="column value last">{{ challenge.environment.pH }}</div>
                        </div>
                    </div> 
            </div>
        </div>

        <div class="row clearfix">
            <div class="challenge-components column" style="width:50%">
                <h3> Useful components </h3>
                <ul>
                    {% for link in challenge.useful_component_set.all %}
                        <li><a href="{{ link.url }}">{{ link.desc }}</a></li>
                    {% endfor %}
                </ul>
            </div>


            <div class="challenge-references column last">
                <h3> References</h3>
                <ul>
                    {% for ref in challenge.useful_link_set.all %}
                        <li><a href="{{ ref.url }}">{{ ref.desc }}</a></li>
                    {% endfor %}
                </ul>       
            </div>
        </div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
        var disqus_shortname = 'tyger';
        var disqus_developer = 1;
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">synthetic bio comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
{% endblock challenge_content %}

{% block sidebar %}
    {% load date_diff %}

    <div class="challenge-rewards">
        <div class="challenge-bounty">
            {% if challenge.bounty_avail %}
                <div class="bounty thick">
                    ${{ challenge.bounty }}
                </div>
                <div class="label">Bounty</div>
            {% else %} 
                <h4>Bounty Claimed</h4>
            {% endif %}
        </div>
        <div class="challenge-votes">
            <div class="clearfix">
                <div class="column">
                    <div class="thick">{{ challenge.votes }}</div>
                    <div class="label">Votes</div>
                </div>
                <div class="column last">
                    <button class="btn" style="margin:0;padding:8px"><span class="ico-promote-btn"></span> &nbsp;Promote</button>
                </div>
            </div>
        </div>
    </div>
    <div class="challenge-info">
        <div class="row" style="margin-bottom:10px">
            <div class="label">Sponsored By</div>
            <div>{{ challenge.sponsor.user.username }}</div>
        </div>
        <div class="row">
            <div class="label">Created</div>
            <div>{{ challenge.create_date|date_diff }}</div>
        </div>
    </div>
{%  endblock sidebar %}

