{% extends 'challenge/templates/base_challenge.html' %}

{% block title %} {{ challenge.name }} {% endblock title %}
{% block sub-header %}<h2>{{ challenge.name }}</h2> {% endblock %}

{% block listings %}

    <p>Tags:
    {% for t in challenge.get_tags %}
        <a class="tag">{{t}}</a>
    {% endfor %}
    </p>
    <h3>Description: </h3>
    <p>{{ challenge.descrip }} </p>
    <h3> Winning conditions: </h3>
    <p>{% for condition in challenge.criteria_set.all %}
        {{ condition.desc }}, {{ condition.status}} <br>
    {% endfor %}
    </p>
    <h3>Environment </h3>
    <p>
        Chassis: {{ challenge.chassis }} <br>
        Environment: {{ challenge.environment.name }} <br>
        Temp: {{ challenge.environment.temp }}<br>
        pH: {{ challenge.environment.pH }}<br>
    </p>

    <h3> Useful components </h3>
    <p>
        {% for link in challenge.useful_component_set.all %}
            <a href="{{ link.url }}">{{ link.desc }}</a><br>
        {% endfor %}
    </p>

    <h3> References:</h3>
    <p>
        {% for ref in challenge.useful_link_set.all %}
            <a href="{{ ref.url }}">{{ ref.desc }}</a><br>
        {% endfor %}
    </p>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'tyger';
    var disqus_developer = 1;
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">synthetic bio comments powered by <span class="logo-disqus">Disqus</span></a>
    
{% endblock listings %}

{% block sidebar %}
    {% load date_diff %}
    Sponsored by: {{ challenge.sponsor.user.username }} {{ challenge.create_date|date_diff }}<br>
<h4> Available rewards</h4>
{% if challenge.bounty_avail %} Bounty: ${{ challenge.bounty }} <br>
{% else %} Bounty claimed. <br>
{% endif %}
<br>
Votes: {{ challenge.votes }}
{%  endblock sidebar %}

