{% extends 'base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block content %}
    <div class="container">
        <div id="main-wrapper" class="span-17"> 
            <div class="content-box clearfix">
                <div class="span-17 last"> 
                    <div class="challenge-title column last" style="">
                        <span class="row">
                            {% block sub-header %}
                                <span class="column">
                                    <span class="ico-challenge"></span>
                                </span>
                                <span class="column last">
                                    <h1>Challenges</h1> 
                                </span>
                            {% endblock sub-header %}
                        </span>
                        <span class="column last" style="float:right">
                            {% block sort-header %}
                            {% endblock sort-header %}
                        </span>
                    </div>
                </div>

                <div id="challenge-content" class="span-17 last">
                    {% block challenge_content %}
                    {% endblock challenge_content %}
                </div>
            </div>
        </div>

        <div id="sidebar-wrapper" class="span-7 last" style="float:right"> 
            <div class="sidebar">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
        </div>
    </div>

{% endblock content %}
