{% extends 'challenge/templates/base_challenge.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block sort-header %}
    <ul id="tabs">
        {% if sortOrder == "most-recent" %}
            <li class="current"><a href="/challenge/">Most Recent</a></li>
        {% else %}
            <li><a href="/challenge/">Most Recent</a></li>
        {% endif %}
        {% if sortOrder == "top-bounty" %}
            <li class="current"><a href="/challenge/top-bounty/">Top Bounty</a></li>
        {% else %}
            <li><a href="/challenge/top-bounty/">Top Bounty</a></li>
        {% endif %}
        {% if sortOrder == "top-votes" %}
            <li class="current"><a href="/challenge/top-votes/">Top Votes</a></li>
        {% else %}
            <li><a href="/challenge/top-votes/">Top Votes</a></li>
        {% endif %}
        {% if sortOrder == "oldest-unsolved" %}
            <li class="current"><a href="/challenge/oldest-unsolved/">Oldest Unsolved</a></li>
        {% else %}
            <li><a href="/challenge/oldest-unsolved/">Oldest Unsolved</a></li>
        {% endif %}
        {% if sortOrder == "library" %}
            <li class="current"><a href="/challenge/library/">Library</a></li>
        {% else %}
            <li><a href="/challenge/library/">Library</a></li>
        {% endif %}
    </ul>
{% endblock sort-header %}


{% block listings %}
    <ul id="recent-listings">
        {% load date_diff %}
        {% if top25_challenge_list %}
            {% for c in top25_challenge_list %}
                <li class="list-item">
                    <div class="clearfix">
                        <div class="challenge-rewards">
                            {%  if c.bounty_avail %}
                                <div class="bounty">${{c.bounty}}</div>
                            {% else %}
                                ${{ c.bounty }} bounty claimed by userid.
                            {% endif %}
                            <div class="votes">
                                <div class="votecount">
                                    {{ c.votes }}
                                </div>
                                votes
                            </div>
                        </div>
                        <div class="challenge-info">
                            {% block challenge_title %} 
                                <h3><a href="/challenge/{{ c.slug }}/">{{ c.name }}</a></h3>
                            {% endblock %}
                            <div class="description">
                                {{ c.descrip|truncatewords:50 }}
                            </div>
                            <div class="challenge-details clearfix">
                                <div class="sponsor-details">
                                    <div class="sponsors">
                                        <h4>Sponsored by <a href="/profile/{{ c.sponsor.user.username }}/">{{ c.sponsor.user.username }}</a></h4>
                                    </div>
                                    <div class="co-sponsors">
                                    </div>
                                </div>
                                <div class="tags">
                                    {% for t in c.get_tags %}
                                        <a class="tag">{{t}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="created">
                            created <span class="bold">{{ c.create_date|date_diff }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {%  else %}
            No challenges available
        {% endif %}
    </ul>
{% endblock listings%}

{% block sidebar %}
    {% include 'inc/tag_cloud.html' %}
{% endblock sidebar %}

