{% extends 'base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}

{% block content %}
    <div id="sub-header">
        <div class="container">
        {% block sub_header %}
            <span class="column">
                <span class="ico-challenge"></span>
            </span>
            <span class="column last">
                <h1>Challenges</h1> 
                <h2>Solving Synthetic Biology's Most Important Challenges.</h2>
            </span>
            <span id="challenges-metrics" class="column right last">
                <span class="column">
                    28
                    <div class="label">Open Challenges</div>
                </span>
                <span class="column last">
                    $18,300
                    <div class="label">Available bounties</div>
                </span>
            </span>
        {% endblock sub_header %}
        </div>
    </div>

    <div class="container">
        <div id="content-wrapper" class="span-{% block content_span %}20{% endblock content_span %}">
            <div id="content-header">
                {% block content_header %}{% endblock content_header %}
            </div>
            {% block challenge_content %}{% endblock challenge_content %}
        </div>
        <div id="sidebar-wrapper" class="span-{% block sidebar_span %}4{% endblock sidebar_span %} last">
            <div class="sidebar">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>           
        </div>
    </div>

{% endblock content %}
