<div class="container">
    <div class="span-8 append-1">
        <div id="title">
            <h1 id="logo"><a href ="/challenge">Tyger</a></h1>
        </div>
    </div>
    <div class="span-15 last">
        <div id="nav">
            <ul class="side">
                <li><a class="{% ifequal request.path "/challenge/" %}current{% endifequal %}" href="/challenge/">Challenges</a></li>
                <li><a class="{% ifequal request.path "/bench/" %}current{% endifequal %}" href="/bench/">Bench</a></li>
                <li><a class="{% ifequal request.path "/tutorial/" %}current{% endifequal %}" href="/tutorial/">Tutorial</a></li>
                {% if request.user.first_name %}
                    {% include "user_menu.html" %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>