{% extends 'base.html' %}

{% block title %} Tyger | Solving Synthetic Biology's Most Important Challenges{% endblock title %}


{% block content %}
    {% block sub_header %} {% endblock sub_header %}

    {% block container %}
    <div class="container">
        <div id="content-wrapper" class="span-{% block content_span %}20{% endblock content_span %}">
            {% block content_header %} {% endblock %}
            {% block challenge_content %} {% endblock %}
        </div>
        {% block sidebar %}
        <div id="sidebar-wrapper" class="span-{% block sidebar_span %}4{% endblock sidebar_span %} last">
            <div class="sidebar">
            </div>
        </div>
        {% endblock sidebar %}
    </div>
    {% endblock container %}
{% endblock content %}