{% extends "profiles/base_profile.html" %}

{% block title %} Tyger profile - {{ profile.user.username }} {% endblock title %}

{% block sub-header %}
    <div id="sub-header">
        <div class="container">
            <span class="column">
                <span class="ico-profile"></span>
            </span>
            <span class="column last">
                <h1>{{ profile.user.username }} profile page</h1>
                <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
            </span>
        </div>
    </div>
{% endblock sub-header %}

{% block container %}
    <ul>
        <li> Name:
        </li>
        <li> Homepage:
            {{ profile.url }}
        </li>
        <li> About me:
            {{ profile.profile_desc }}
        </li>
            <li> Total votes earned:
            {{ profile.cumulative_votes }}
        </li>
            <li> Total bounties earned:
            {{ profile.cumulative_bounty }}
        </li>
    </ul>

    <p><a href="/profiles/edit/">Edit your profile</a> </p>

{% endblock container %}